@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;;
    color: #f1f1f1;
    background-color: #e5e5e534;
}

/* Header - início */

.header-top{
    width: 100%;
    height: 3.31em;
    /* background-color: aqua; */
    border-bottom: solid 1px #f1f1f1;
    background-color: #fff;
}

.content-header{
    width: 100%;
    max-width: 1920px;
    height: 100%;
    /* background-color: #ccc; */
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 33%;
    /* background-color: cadetblue; */
    display: flex; 
    margin-top:10px;
}
.imgp{
    margin-left: 492px;
}
.pesquisar{
    height: 100%;
    /* background-color: chartreuse; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.pesquisa{
    width: 215px;
    height: 28px;
    text-align: center;
    border: solid 1px #ccc;
    border-radius: 2px;
    background-color: #FAFAFA;
    color: #afafaf;
    font-weight: 500;
    margin-right: 5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('../img/Vector.svg');
    background-repeat: no-repeat;
    background-position: 63px 9px;
}

.pesquisar button{
    display: none;
}

.navegacao{
    width: 34%;
    display: flex;
}

.navegacao ul{
    width: 200px;
    height: 55px;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    margin-right: 493px;
}

.imagem-perfil{
    width: 30px;
    height: 30px;
    border-radius: 100px;
}


.edit-perfil{
    height: 610px;
    width: 100%;
    


}
.edit-div{
    height: 100%;
    width: 80%;
    background-color: #ccc;
    font-size: 13px;

    
}
.content{
    width: 95%;
    max-width: 1200px;
    height: 100%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    
}
.nome-perfil h1{
    color: black;
    
}
.nome-perfil{
    width: 40%;
    height: 100%;
    border-right:solid 1px black;
}
.editar{
    width: 100%;
    height: 100px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-right: 350px; */
    
}
.editar img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-right: 20px ;
   
}
.text a{
    text-decoration: none;
}
.text p{
    font-size: 18px;
    color: black;
}
.nome{
    height: 200px;
    width: 100%;
    background-color:orange;
}
