.footer{
width: 100%;
background-color: whitesmoke;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.footer p {
    color: blueviolet;
}
.footer img{
    margin-bottom: auto;
    width: 10%;
}