<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InstaDev_MVC</title>
    <link rel="stylesheet" href="~/css/feed.css" />
</head>
<body>
    <header class="header-top">
        <div class="content-header">
            <div class="logo">
                <a href="#"><img src="img/Instadev.png" alt="Logo InstaDev"></a>
            </div>
            <form class="pesquisar">
                <input type="text" name="pesquisa" placeholder="Pesquisar" class="pesquisa">
                <button type="submit"></button>
            </form>
            <nav class="navegacao">
                <ul>
                    <li><a href="#"><img src="img/Vector-1.png" alt="imagem de uma casa"></a></li>
                    <li><a href="#"><img src="img/plane 1.png" alt="imagem de um avião de papel"></a></li>
                    <li><a href="#"><img src="img/compass 1.png" alt="imagem de uma bússola"></a></li>
                    <li><a href="#"><img src="img/Vector.png" alt="imagem de um coração"></a></li>
                    <li><a href="#"><img src="img/thank-you 1.png" alt="imagem de perfil do usuário"
                    class="imagem-perfil"></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - InstaDev_MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
