@{
    ViewData["Title"] = "Cadastrar"; 
}
<main>
        <section class="quadrado">
            <img src="img/Instadev.png" alt="Logo do instaDev">
            <div class="texto">
                <h1>Cadastre-se para ver fotos e vídeos dos seus amigos.</h1>
            </div>
            <div class="caixa">
                <form method="POST" action='@Url.Action("Cadastrar")'>
                    <input type="Email" name= "Email" placeholder="Email">
                    <input type="text" name= "Nome" placeholder="Nome completo" required>
                    <input type="text" name="Username" placeholder="Nome de usuário" required>
                    <input type="password" name="Senha" placeholder="Senha" required>
                    <input type="submit" value="Cadastre-se">              
                </form>
                <p>Ao se cadastrar, você concorda com nossos Termos, Política de Dados e Política de Cookies. </p>
            </div>
        </section>
            <section class="quadrado2">
                <h2 style="color: black;">Tem uma conta? </h2>
                <a asp-area="Ir para pagina de login" asp-controller="Login" asp-action="Index">Conecte-se</a>
            </section>
            <footer class="imagens">
                <h3>Obtenha o aplicativo</h3>
                <img src="img/ios.jpeg" alt="Baixar aplicativo pela app store">
                <img src="img/google play.jpeg" alt="Baixar aplicativo pela google play">              
            </footer>
    </main>